/* styles/calendar-custom.css */
.react-calendar {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

.react-calendar__tile {
  border-radius: 8px;
  padding: 0.5rem 0.3rem;
  transition: all 0.2s ease-in-out;
}

.calendar-low {
  background-color: #10b98122;
  color: #10b981;
}

.calendar-mid {
  background-color: #f59e0b33;
  color: #f59e0b;
}

.calendar-high {
  background-color: #ef444433;
  color: #ef4444;
}

.react-calendar__tile--now {
  background: #6366f1;
  color: white;
}

.react-calendar__tile:disabled {
  background-color: transparent;
  color: #777;
}